<section id="section-intro" class="section-wrapper about-event">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <div class="section-title">
          <h1 class="display-3">About</h1>
        </div>
        <p>
        When it comes to the protection of wildlife, nothing is as essential and effective as a joint effort. From the mountains to the deep seas, human impact on animal survival has dramatically increased and is now more substantial than ever before. The East Adriatic Sea and  its nature are no exception. Transboundary collaborations represent the only successful tool for implementing sustainable and effective conservation strategies, particularly for those species whose persistence relies on migration and, thus, the absence of boundaries.
        </p>
        <a href="/introduction" class="btn btn-primary">Read more</a>
      </div>
      {{/* <div class="col-md-4">
        <address>
          {{ .Site.Params.address | safeHTML}}
          <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
      </div> */}}
    </div>
  </div>
</section>
<!-- .about-event -->
