<section id="section-intro" class="section-wrapper about-event">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="section-title">
          <h1 class="display-3">About</h1>
          <p class="lead">
            Beyond the boundaries of research
          </p>
          </div>
          <div class="text-center">
            <p>When it comes to the protection of wildlife, nothing is as essential
            and effective as a joint effort. Going from the land to the deep sea,
            the anthropogenic impact on animal survival has dramatically increased
            and is now palpable as never before.
            The East Adriatic Sea and its nature make no exception. Transboundary
            cooperation may represents the only successful tool for the implementation
            of conservation strategies, particularly for migratory species that live without boundaries.</p>
            <a href="/introduction" class="btn btn-primary">Read more</a>
          </div>
      </div>
      {{/* <div class="col-md-4">
        <address>
          {{ .Site.Params.address | safeHTML}}
          <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
      </div> */}}
    </div>
  </div>
</section>
<!-- .about-event -->
