<section id="section-abstract" class="section-wrapper about-event">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
  <h1>Submit your abstract</h2>
        <p class="lead">
          Deadline for submission of abstracts: 1 November 2017 (23:00 GMT)
        </p>
        <p>
          <a href="http://www.dmad.org.tr">DMAD</a> and <a href="http://naturalhistoryassociationofmontenegro.weebly.com/">NHAM</a> are excited to welcome you at the first Rufford conference
          in Montenegro and look forward to your abstract submission.
          Joining the conference as speaker will be for you a great opportunity
          to introduce your research project as well as discussing with other
          scientists future possibilities of collaboration with the ultimate aim
          to create a transboundary network for nature research and conservation in the East Adriatic.
        </p>

        <p>
          We will be accepting abstracts for speakers;
          <ul>
            <li>20-minute long talks</li>
            <li>5-minute short talks</li>
            <li>scientific posters</li>
          </ul>
          To know more about topic suggestions, <a href="/contact#deadline">deadline</a> and <a href="/contact">guidelines</a>
        </p>

        <a href="/contact" class="btn btn-primary">Read more</a>
      </div>
      <div class="col-md-4 gray-bg">
        {{ if .Site.Params.acceptAbstracts }}
        <div class="form-wrapper">
          <h2>{{ .Site.Params.form.title }}</h2>
          {{ partial "widgets/submission-form.html" . }}
        </div>
        {{ else }}
          <p> sending abstract is closed</p>
        {{ end }}
      </div>
    </div>
  </div>
</section>
<!-- .about-event -->
