<section id="section-abstract" class="section-wrapper about-event">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Submit your abstract</h2>
        <p class="lead">
          Deadline for submission of abstracts: 1 November 2017 (23:00 GMT)
        </p>
        <p>
          <a href="http://www.dmad.org.tr">DMAD</a> and <a href="http://naturalhistoryassociationofmontenegro.weebly.com/">NHAM</a>
          are excited to welcome you at the <strong>27th Rufford Conference in Montenegro</strong>
          and look forward to your abstract submission. Since 2012, Rufford Small Grants
          has been organising conferences from Indonesia to Mexico, and facilitating the
          creation of valuable networks of researchers. This conference will provide the same unique opportunity.

          Joining the conference as speaker will allow you to share your research experience,
          examine encountered problems and develop new ideas with other scientists.
          The conference aims to establish an <strong>online platform</strong> for an <strong>accurate and effective
          cross border nature conservation network in the East Adriatic</strong>.
          The platform will be used to create an online “<i>Adriatic Nature Conservation Database</i>” in order to
          standardise methodologies and support data analyses between research groups.
        </p>

        <p>
          We will be accepting abstracts for 5-minute short talks, 20-minute long talks and posters.
          To know more about topic suggestions, <a href="/contact#deadline">deadlines</a> and <a href="/contact">guidelines</a> is available below.
        </p>

        <a href="/contact" class="btn btn-primary">Read more</a>
      </div>
      <div class="col-md-4 gray-bg">
        {{ if .Site.Params.acceptAbstracts }}
        <div class="form-wrapper">
          <h2>{{ .Site.Params.form.title }}</h2>
          {{ partial "widgets/submission-form.html" . }}
        </div>
        {{ else }}
          <p> sending abstract is closed</p>
        {{ end }}
      </div>
    </div>
  </div>
</section>
<!-- .about-event -->
